/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  overflow: auto;
}

body {
  width: 100%;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'EnFont';
  src: url("../fonts/obective/Objective_OTF/Objective-Black-Italic.otf") format("opentype");
}

.html {
  font-size: 92.5%;
}

@media (max-width: 767px) {
  .html {
    font-size: 62.5%;
  }
}

body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-size: 1.6em;
  color: #454545;
  overflow: hidden;
  line-height: 1.4;
}

@media (min-width: 768px) {
  .sp-only {
    display: none;
  }
}

@media (max-width: 767px) {
  .pc-only {
    display: none;
  }
}

.skills-content-inner figure .more {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.sec-title {
  font-family: 'Enfont';
  font-size: 4rem;
  text-align: center;
  margin-bottom: 3rem;
  position: relative;
}

@media (max-width: 767px) {
  .sec-title {
    font-size: 2.2rem;
  }
}

.sec-title-sub {
  font-family: 'Enfont';
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
  color: #00b7ce;
}

.txtxl {
  font-size: 2.6rem;
}

.txtl {
  font-size: 2.2rem;
}

.txtm {
  font-size: 1.8rem;
}

.txts {
  font-size: 1.6rem;
  line-height: 1.8;
}

.txtxs {
  font-size: 1.2rem;
  line-height: 2;
}

.btn {
  position: relative;
  font-weight: bold;
  text-align: center;
  margin: 1rem 0;
  font-family: "Enfont";
  font-size: 1.4rem;
}

.btn a {
  display: block;
  box-sizing: border-box;
  width: 70%;
  max-width: 300px;
  margin: 0 auto;
  background: #00b7ce;
  padding: 2rem;
  color: #fff;
  border: 1px solid #00b7ce;
  transition: .2s;
}

.btn a:hover {
  background: #00b7ce;
  color: #fff;
  transition: .2s;
}

.view-more {
  display: block;
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;
  font-family: "Enfont";
}

.view-more a {
  display: block;
  box-sizing: border-box;
  width: 70%;
  max-width: 300px;
  color: #00b7ce;
  margin-left: auto;
  padding-top: 1rem;
  transition: .2s;
}

.view-more a:hover {
  background: #00b7ce;
  color: #fff;
  transition: .2s;
}

.view-more a:hover .arrow {
  transform: translateX(120px);
  transition: .2s;
  animation: fadeOut .6s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.view-more a .arrow {
  width: 100%;
  height: 8px;
  border-bottom: 3px solid #00b7ce;
  border-right: 5px solid #00b7ce;
  transform: skew(45deg);
}

.mail {
  position: relative;
  font-weight: bold;
  text-align: center;
  margin: 5rem 0;
}

.mail a {
  display: block;
  box-sizing: border-box;
  width: 70%;
  max-width: 300px;
  margin: 0 auto;
  background: #00b7ce;
  padding: 2rem;
  color: #fff;
  transition: .2s;
}

@media (max-width: 767px) {
  .mail a {
    font-size: 1rem;
  }
}

.mail a:hover {
  background: transparent;
  color: #00b7ce;
  border: 1px solid #00b7ce;
}

.home {
  position: relative;
  font-weight: bold;
  text-align: center;
}

.home a {
  display: block;
  box-sizing: border-box;
  width: 70%;
  max-width: 300px;
  margin: 0 auto;
  background: #00b7ce;
  padding: 2rem;
  color: #fff;
  transition: .6s;
  font-family: "Enfont";
}

.home a .arrow-home {
  width: 15px;
  height: 15px;
  border-right: 5px solid #fff;
  border-bottom: 5px solid #fff;
  transform: rotate(45deg);
  margin: 0 auto;
}

.home a:hover .arrow-home {
  transform: rotate(225deg);
  transition: .4s;
}

.header {
  font-family: 'Enfont';
  color: #fff;
  font-weight: bold;
  line-height: 4;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

@media (max-width: 767px) {
  .header {
    line-height: 2;
  }
}

.header-logo {
  padding-left: 2rem;
  display: flex;
  align-items: center;
}

.header-logo .txts {
  color: #fff;
  transition: .2s;
}

.header-logo .txts:hover {
  color: #00b7ce;
  transition: .2s;
}

@media (max-width: 767px) {
  .header-logo .txts {
    font-size: .8rem;
    line-height: 1;
    padding-top: 1rem;
  }
}

.header-gnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 767px) {
  .header-gnav {
    display: none;
  }
}

.header-menu {
  padding: 0 2rem;
}

.header-menu a {
  color: #fff;
  transition: .2s;
}

.header-menu a:hover {
  color: #00b7ce;
}

.hero {
  position: relative;
}

.hero-inner {
  width: 100vw;
  height: 100vh;
  position: relative;
}

@media (max-width: 767px) {
  .hero-inner {
    height: 35vh;
  }
}

.hero-bg {
  position: relative;
  height: 100%;
  background: #000;
  overflow: hidden;
}

.hero-bg::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.hero-bg iframe {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 60vw;
}

.hero-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-txt p {
  color: #fff;
  font-size: 60px;
}

.hero-btm {
  position: relative;
  width: 82.10938vw;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .hero-btm {
    width: 89.33333vw;
  }
}

.hero-title {
  font-size: 10rem;
  color: #00b7ce;
  position: absolute;
  top: -11rem;
  line-height: 1.2;
  font-family: 'Enfont';
}

@media (max-width: 767px) {
  .hero-title {
    font-size: 3.6rem;
    top: -4rem;
  }
}

.hero .scrolldown {
  position: absolute;
  bottom: 5%;
  right: 5%;
}

@media (max-width: 767px) {
  .hero .scrolldown {
    bottom: -65px;
    right: 20px;
  }
}

.hero .scrolldown span {
  position: absolute;
  left: -40px;
  bottom: 10px;
  color: #fff;
  font-size: 1.4rem;
  font-family: "Enfont";
  letter-spacing: 0.05em;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

@media (max-width: 767px) {
  .hero .scrolldown span {
    color: #454545;
    font-size: .8rem;
    left: -22px;
  }
}

.hero .scrolldown:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: -7px;
  width: 3px;
  height: 20px;
  background: #fff;
  transform: skewX(-31deg);
}

@media (max-width: 767px) {
  .hero .scrolldown:before {
    background: #454545;
    width: 2px;
    height: 15px;
    right: -5px;
  }
}

.hero .scrolldown:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 3px;
  height: 90px;
  background: #fff;
}

@media (max-width: 767px) {
  .hero .scrolldown:after {
    background: #454545;
    height: 60px;
    width: 2px;
  }
}

.intro {
  margin-top: 20rem;
  padding: 5rem 0;
}

@media (max-width: 767px) {
  .intro {
    margin-top: 5rem;
  }
}

.intro-inner {
  width: 82.10938vw;
  margin: 0 auto;
  text-align: left;
}

@media (max-width: 767px) {
  .intro-inner {
    width: 89.33333vw;
  }
}

.intro .sec-title {
  text-align: left;
}

.intro .sec-title::after {
  content: 'About me';
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #00b7ce;
  -webkit-text-fill-color: transparent;
  position: absolute;
  bottom: 20px;
  left: 15px;
  z-index: -1;
}

.intro-list {
  width: 100%;
  border-collapse: separate;
  border-spacing: 20px 0;
  font-size: 1.2rem;
}

.intro-item {
  line-height: 4;
}

@media (max-width: 767px) {
  .intro-item {
    display: block;
    line-height: 2;
    margin-bottom: 2rem;
  }
}

.intro-date {
  color: #00b7ce;
  text-align: center;
  font-family: "Enfont";
}

.skills {
  background: #f0f0f0;
  position: relative;
  padding: 12rem 0;
}

.skills .sec-title::after {
  content: 'Skills';
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #00b7ce;
  -webkit-text-fill-color: transparent;
  position: absolute;
  bottom: 20px;
  left: 52%;
  transform: translate(-50%, 0);
  z-index: -1;
}

@media (max-width: 767px) {
  .skills .sec-title::after {
    left: 54%;
  }
}

.skills-container {
  position: relative;
  margin-top: 8rem;
}

.skills-logo {
  position: absolute;
  top: 8rem;
  z-index: 20;
  color: #fff;
  font-size: 20rem;
  line-height: .5;
  writing-mode: vertical-rl;
  font-family: 'Enfont';
}

@media (max-width: 767px) {
  .skills-logo {
    font-size: 10rem;
    margin-top: 30rem;
  }
}

.skills-contents-top, .skills-contents-btm {
  position: relative;
  display: flex;
}

.skills-contents-top .green-block, .skills-contents-btm .green-block {
  width: 70%;
  height: 500px;
  position: absolute;
  top: -50px;
  z-index: 10;
  background: #00b7ce;
}

.skills-contents-top {
  margin-bottom: 16rem;
}

@media (max-width: 767px) {
  .skills-contents-top {
    margin-bottom: 10rem;
  }
}

.skills-contents-top .txtxl {
  text-align: left;
  margin-left: 250px;
}

@media (max-width: 767px) {
  .skills-contents-top .txtxl {
    margin-left: 0;
  }
}

.skills-contents-btm .green-block {
  position: absolute;
  right: 0;
}

.skills-contents-btm .txtxl {
  text-align: right;
}

.skills-content {
  width: 82.10938vw;
  margin: 0 auto;
  z-index: 30;
}

@media (max-width: 767px) {
  .skills-content {
    width: 89.33333vw;
  }
}

.skills-content .txtxl {
  color: #454545;
  font-family: 'Enfont';
  font-size: 3rem;
}

.skills-content-inner {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  overflow: hidden;
}

@media (max-width: 767px) {
  .skills-content-inner {
    display: block;
  }
}

.skills-content-inner .txtxs {
  width: 40%;
  margin: 2rem 0;
}

@media (max-width: 767px) {
  .skills-content-inner .txtxs {
    width: 100%;
  }
}

.skills-content-inner figure {
  width: 50%;
  position: relative;
}

@media (max-width: 767px) {
  .skills-content-inner figure {
    width: 100%;
  }
}

.skills-content-inner figure .more {
  font-family: "Enfont";
  color: #fff;
  margin: 0;
  width: 100%;
  text-align: center;
  display: none;
}

.skills-content-inner figure a {
  width: 100%;
  height: inherit;
}

.skills-content-inner figure a:hover .bg {
  width: 100%;
  height: 100%;
  filter: brightness(50%);
  transition: .4s;
  transform: scale(1.2, 1.2);
}

.skills-content-inner figure a:hover .more {
  display: block;
  transition: .4s;
  cursor: pointer;
}

.skills-content-inner figure img {
  width: 100%;
  height: auto;
}

.my-value {
  background-color: #454545;
}

.my-value-head {
  padding: 7rem 0;
}

.my-value .txtl {
  line-height: 1.5;
  color: #fff;
  text-align: center;
  margin-top: 3rem;
}

.my-value-img {
  display: flex;
  justify-content: center;
  object-fit: cover;
}

@media (max-width: 767px) {
  .my-value-img {
    display: block;
    width: 100%;
  }
  .my-value-img img {
    width: 100%;
    height: auto;
  }
}

.my-value-bg {
  background-image: url(../img/img1@2x.png);
  background-size: cover;
  background-position: center;
  padding: 5rem 0;
  position: relative;
}

@media (max-width: 767px) {
  .my-value-bg {
    padding: 2rem 0;
  }
}

.my-value-bg::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.my-value-inner {
  width: 82.10938vw;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .my-value-inner {
    width: 89.33333vw;
  }
}

.my-value-txt {
  margin: 200px 0;
  position: relative;
}

.my-value-txt .txtxs {
  margin-bottom: 44px;
  color: #fff;
}

.works {
  margin-top: 3rem;
}

.works .sec-title {
  margin-top: 4rem;
}

.works .sec-title::after {
  content: 'Works';
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #00b7ce;
  -webkit-text-fill-color: transparent;
  position: absolute;
  bottom: 20px;
  left: 52%;
  transform: translate(-50%, 0);
  z-index: -1;
}

@media (max-width: 767px) {
  .works .sec-title::after {
    left: 54%;
  }
}

.works-inner {
  width: 82.10938vw;
  margin: 0 auto;
  border-left: 4px solid #f0f0f0;
}

.works-container {
  padding-bottom: 10rem;
}

@media (max-width: 767px) {
  .works-container {
    padding-bottom: 5rem;
  }
}

.works-container li {
  position: relative;
}

.works-content {
  display: block;
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
  padding-left: 5rem;
}

@media (max-width: 767px) {
  .works-content {
    display: block;
    padding-left: 2rem;
  }
}

.works-content::before {
  content: '';
  width: 12px;
  height: 12px;
  position: absolute;
  background-color: #fff;
  border: 10px solid #00b7ce;
  border-radius: 100%;
  top: 50%;
  left: -2px;
  transform: translate(-50%, 0);
}

.works-content-txt {
  width: 45%;
}

@media (max-width: 767px) {
  .works-content-txt {
    width: 100%;
  }
}

.works-content-txt .txts {
  font-family: 'Enfont';
}

.works-content-txt .txtxs {
  margin-top: 2.6rem;
  line-height: 1.8;
}

@media (max-width: 767px) {
  .works-content-txt .txtxs {
    margin-top: 1rem;
  }
}

.works-btn {
  margin-right: 0;
}

.works-img {
  width: 45%;
  background-position: center;
  background-size: cover;
}

.works-img img {
  width: 100%;
  height: auto;
}

@media (max-width: 767px) {
  .works-img {
    width: 100%;
    margin-bottom: 1rem;
  }
}

.works .btm-m {
  margin-top: 100px;
}

.works .btm-m .txtm {
  font-weight: 100;
  color: #454545;
  margin-bottom: 20px;
}

.contact {
  width: 82.10938vw;
  margin: 0 auto;
  margin-top: 8rem;
  text-align: center;
}

@media (max-width: 767px) {
  .contact {
    width: 89.33333vw;
  }
}

.contact .sec-title::after {
  content: 'Contact';
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #00b7ce;
  -webkit-text-fill-color: transparent;
  position: absolute;
  bottom: 20px;
  left: 52%;
  transform: translate(-50%, 0);
  z-index: -1;
}

@media (max-width: 767px) {
  .contact .sec-title::after {
    left: 54%;
  }
}

footer {
  background: #00b7ce;
  width: 100%;
  height: 150px;
}

.page-design-head {
  margin-top: 8rem;
  margin-bottom: 6rem;
}

.page-design-head .sec-title::after {
  content: 'Design';
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #00b7ce;
  -webkit-text-fill-color: transparent;
  position: absolute;
  bottom: 20px;
  left: 52%;
  transform: translate(-50%, 0);
  z-index: -1;
}

@media (max-width: 767px) {
  .page-design-head .sec-title::after {
    left: 54%;
  }
}

.page-design-inner {
  background: #f0f0f0;
}

.page-design-list {
  width: 82.10938vw;
  margin: 0 auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media (max-width: 767px) {
  .page-design-list {
    width: 89.33333vw;
  }
}

.page-design-item {
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.page-design-title {
  writing-mode: vertical-lr;
  font-family: "Enfont";
}

.page-design-title .txts {
  color: #00b7ce;
  letter-spacing: .6em;
}

.page-design-img {
  width: 40%;
}

.page-design-img img {
  width: 100%;
  height: auto;
}

.page-design-txt {
  width: 40%;
  background: #fff;
  padding: 3rem;
}

.page-design-txt .txtm {
  color: #00b7ce;
  margin-bottom: 2rem;
  font-weight: bold;
}

.page-banner-head {
  padding-top: 8rem;
  padding-bottom: 6rem;
  background: #f0f0f0;
  z-index: -2;
}

.page-banner-head .sec-title {
  z-index: 2;
}

.page-banner-head .sec-title::after {
  content: 'Banner';
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #00b7ce;
  -webkit-text-fill-color: transparent;
  position: absolute;
  bottom: 20px;
  left: 52%;
  transform: translate(-50%, 0);
  z-index: -1;
}

@media (max-width: 767px) {
  .page-banner-head .sec-title::after {
    left: 54%;
  }
}

.page-banner-inner {
  margin: 5rem 0;
}

.page-banner-list {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-banner-item {
  margin: 1rem;
  display: flex;
  width: 29.29688%;
}

.page-banner-img {
  width: 100%;
}

.page-banner-img img {
  width: 100%;
  height: auto;
}

.page-banner-txt {
  font-family: "Enfont";
  color: #00b7ce;
  writing-mode: vertical-rl;
}

.page-banner-txt .txtxs {
  font-size: 1rem;
}

.page-banner-txt .txtxs .num {
  color: #e0e0e0;
}

.page-banner .txtxs {
  margin-left: 1rem;
}
